# Pycharm
.idea

# Python build files
__pycache__
/src/piven.egg-info

# pre-commit modules
.mypy_cache

# Pytest
.pytest_cache
.coverage

# Todos
TODO.txt
update.txt

# Notebooks
legacy/music/.ipynb_checkpoints
legacy/music/data
*.npy

# Ignore legacy code
legacy/

blog_post.md